nav {
    background-color: #067F72;
}

nav {
    li, a {
    background-color: white;
    color: #00544B;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 20px;
    list-style-type: none;
    }
}

nav {
    ul {
        padding-inline-start: 0px;
    }
}

h1 {
    color: white;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.current {
    background-color: #00544B;
    color: white;
    padding: 10px;
    border-radius: 12px;
}

nav {
    img {
        width: 25px;
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* green: #067F72
dark green: #00544B
*/